@model (AnyPost.Models.Post postT, List<AnyPost.Models.Comment> comments, AnyPost.Models.Comment newComment)

@{
    ViewData["Title"] = "Details";
}

<div class="no-gutters">
    <h2 style="display: inline-block ">Post #@Html.DisplayFor(model => model.postT.Id)</h2>

    <button class="addpost">
        <a asp-action="Index">Back to posts</a>
    </button>
</div>

<div class="card">
    <div class="card-header">
        <h5>@Html.DisplayFor(model => model.postT.Title)</h5>
    </div>
    <div class="card-body">
        <ee class="card-text" style="white-space: pre-line;">@Html.DisplayFor(model => model.postT.Content)</ee>
    </div>
    <div class="card-footer text-muted ">
        Posted by: @Html.DisplayFor(model => Model.postT.UserName),
        @Html.DisplayFor(model => Model.postT.PostDate)
        <br />
        <p class="@(Model.postT.Rating > 0? "green" : Model.postT.Rating == 0? "blue" : "red")">Rating: <b>@Html.DisplayFor(model => Model.postT.Rating)</b></p>

    </div>
</div>
<h4>Comments:</h4>
@foreach (var item in Model.comments)
{
    <div class="card">
        <div class="card-body">
            <ee class="card-text">@Html.DisplayFor(modelItem => item.CommentContent)</ee>
        </div>
        <div class="card-footer text-muted ">
            <aa style="float: left">Posted by: @Html.DisplayFor(modelItem => item.UserName)</aa>
            <aa style="float: left">, @Html.DisplayFor(modelItem => item.CommentDate)</aa>
        </div> 
    </div>
}

<div class="row">
    <div class="col" style="min-width: 100%">
        <form asp-action="AddComment">
            <h4>Add new comment</h4>
            <div class="form-group">
                <input asp-for="newComment.PostId" type="hidden" />
                <textarea asp-for="newComment.CommentContent" class="form-control" rows="6" style="resize: none;"></textarea>
                <span asp-validation-for="newComment.CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add!" class="addpost" />
            </div>
        </form>
    </div>
</div>