@model IEnumerable<AnyPost.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="no-gutters">
    <h1 style="display: inline-block ">Browse posts</h1>

    <button class="addpost">
        <a asp-action="Create"><b>Or add a new one!</b></a>
    </button>
    @using (Html.BeginForm())
    {
        <hr/>
        <h6>
            Browse posts by specified tag: @Html.TextBox("tags")
            <input type="submit" class="tagbutton" value="Search" />
        </h6>
    }
</div>


@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            <h5 style="float: left">@Html.DisplayFor(modelItem => item.Title)</h5>
            <h6 style="float: right" class="@(item.Tags != null ? "tags" : "notags")">Tags: @Html.DisplayFor(modelItem =>item.Tags)</h6>
        </div>
        <div class="card-body">
            <ee class="card-text" style="white-space: pre-line;">@Html.DisplayFor(modelItem => item.Content)</ee>
        </div>
        <div class="card-footer text-muted ">
            Posted by: @Html.DisplayFor(modelItem => item.UserName),
            @Html.DisplayFor(modelItem => item.PostDate)
            <br />
            <p class="@(item.Rating > 0? "green" : item.Rating == 0? "blue" : "red")">Rating: <b>@Html.DisplayFor(modelItem => item.Rating)</b></p>
            <div>
                <form method="post" asp-controller="Posts" asp-action="RatingUp" asp-route-id="@item.Id">
                    <input type="submit" value="+" class="btn btn-outline-success btn-sm" style="float: left;" />
                </form>
                <form method="post" asp-controller="Posts" asp-action="RatingDown" asp-route-id="@item.Id">
                    <input type="submit" value="-" class="btn btn-outline-danger btn-sm bb" style="float: left;" />
                </form>
                <a style="float: right;" asp-action="Details" asp-route-id="@item.Id">Comments</a>
            </div>
        </div>
    </div>
}