@model IEnumerable<AnyPost.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="no-gutters">
    <h1 style="display: inline-block ">Browse posts</h1>

    <button class="addpost">
        <a asp-action="Create"><b>Or add a new one!</b></a>
    </button>
</div>


@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            <h5>@Html.DisplayFor(modelItem => item.Title)</h5> 
        </div>
        <div class="card-body">
            <ee class="card-text">@Html.DisplayFor(modelItem => item.Content)</ee>
        </div>
        <div class="card-footer text-muted ">
            Posted by: @Html.DisplayFor(modelItem => item.UserName),
            @Html.DisplayFor(modelItem => item.PostDate)
            <br />
            <p class="@(item.Rating > 0? "green" : item.Rating == 0? "blue" : "red")">Rating: <b>@Html.DisplayFor(modelItem => item.Rating)</b></p>
            <div>
                <form method="post" asp-controller="Posts" asp-action="RatingUp" asp-route-id="@item.Id">
                    <input type="submit" value="+" class="btn btn-outline-success btn-sm" style="float: left; !important" />
                </form>
                <form method="post" asp-controller="Posts" asp-action="RatingDown" asp-route-id="@item.Id">
                    <input type="submit" value="-" class="btn btn-outline-danger btn-sm bb" style="float: left; !important " />
                </form>
            </div>
        </div>
    </div>
}